<h2 mat-dialog-title>Add New Location</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-md-6">
      <form #formcontrol="ngForm">

        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Location Name" name="locationName" [(ngModel)]="locationName" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Location Type" name="locationType" [(ngModel)]="locationType" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Latitude" name="latitude" [(ngModel)]="latitude" required>
            </mat-form-field>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Longitude" name="longitude" [(ngModel)]="longitude" required>
            </mat-form-field>
          </div>
        </div>
        <br><br><br><br>

      </form>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="!formcontrol.form.valid" (click)="addCheckPoint()">Add</button>
      </mat-dialog-actions>
    </div>
    <div class="col-md-6">
      <agm-map [latitude]= "lat" [longitude]="lng" style="height: 100%" (mapClick)="onChooseLocation($event)">
        <agm-marker *ngFor="let um of userMarkers;" [latitude]="um.lat" [longitude]="um.lng"></agm-marker>
      </agm-map>
    </div>
  </div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->