<div class="overlay col-md-2">
    <!-- <div class="nav"> -->
<ul >
    <li *ngFor="let m of markers" class="listblock" >
      <a><img src="../../assets/img/dot.png" alt=""  class="dotImg">{{m.num}}</a> <br>  
    </li>
</ul>
<!-- </div> -->
</div>
<agm-map [latitude]="lat" [longitude]="lng" style="height: 1000px">
  <agm-polyline *ngFor="let p of polylines;" [strokeColor]="'#00b3fd'" [strokeOpacity]= 'p.routeVisibility' [strokeWeight]="3">
      <agm-polyline-point  *ngFor="let t of p.trackingData;" [latitude]="t.latitude" [longitude]="t.longitude">
      </agm-polyline-point>
  </agm-polyline>
  <agm-marker *ngFor="let m of markers;"  [latitude]="m.lat" [longitude]="m.lng" [iconUrl]="m.truckIcon" (markerClick)="setRouteVisible(m.imei)">
      <agm-info-window>Vehicle IMEI : {{m.imei}}
          <br>
          Vehicle Speed : {{m.speed}}
          <br>
          Vehicle Number : {{m.num}}
          <br>
          Current Position Latitudes: {{m.lat}}
          <br>
          Current Position Longitudes: {{m.lng}}
          <br>
          Time : {{m.tim}}
      </agm-info-window>
  </agm-marker>
</agm-map>

<style>
    .overlay {
    opacity:100;
    filter: alpha(opacity = 0);
    position:absolute;
    top:15%; bottom:35%; left:0; right:0;
    display:block;
    z-index:2;
    background-color: #414548a8;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    /* background:transparent; */
}

.listblock ul li a {
    /* padding: 5px 30px 5px 10px; */
    display: block;
}
ul{
    list-style-type: none;
}

.dotImg{
    width: 15%;
    height: 15%;
}

</style>