<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- set this angular function in side agm-map tag - (mapClick)="onChooseLocation($event)" -->
<div class="row no-gutter" >
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-2 wrap">
         <div class="row ">
                <!-- <div class="col-md-2"></div> -->

                <div class="col-md-12" style="text-align: center">
                        <!-- <div class="row" > -->
                                <!-- <div class="col-md-2"></div> -->
                                <!-- <div class="col-md-10"> -->
                                    <a class="font">History</a> 
                                    <hr>
                    
                                <!-- </div> -->
                            <!-- </div> -->
                    <mat-form-field>
                        <mat-select placeholder="Select Vehicle" [(ngModel)]="vehicleId" name="vehicleId">
                          <mat-option *ngFor="let vehicle of allVehiclesResult" [value]="vehicle._id">
                            {{vehicle.vehicleNumber}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" >
                        <input matInput [matDatepicker]="picker1" placeholder="From" [(ngModel)]="dateFrom" name="dateFrom">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" >
                        <input matInput [matDatepicker]="picker2" placeholder="To" [(ngModel)]="dateTo" name="dateTo">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <!-- <mat-form-field class="example-full-width">
                        <input matInput placeholder="Address" name="address" [(ngModel)]="address">
                    </mat-form-field> -->
                        <!-- <button mat-button>Clear</button> -->
                        <button mat-stroked-button (click)="requestHistory()">SHOW HISTORY</button>
                </div>
            </div>
    </div>
    <div class="col-md-10 map ">
        <agm-map [latitude]="lat" [longitude]="lng" style="height: 1000px">
            <agm-polyline *ngFor="let p of polylines;" [strokeColor]="'#00b3fd'" [strokeOpacity]= 'p.routeVisibility' [strokeWeight]="3">
                <agm-polyline-point  *ngFor="let t of p.trackingData;" [latitude]="t.latitude" [longitude]="t.longitude">
                </agm-polyline-point>
            </agm-polyline>
            <agm-marker *ngFor="let m of markers;"  [latitude]="m.lat" [longitude]="m.lng" [iconUrl]="m.truckIcon" (markerClick)="setRouteVisible(m.imei)">
                <agm-info-window>Vehicle IMEI : {{m.imei}}
                    <br>
                    Vehicle Speed : {{m.speed}}
                    <br>
                    Vehicle Number : {{m.num}}
                    <br>
                    Current Position Latitudes: {{m.lat}}
                    <br>
                    Current Position Longitudes: {{m.lng}}
                    <br>
                    Time : {{m.tim}}
                </agm-info-window>
            </agm-marker>
        
            <agm-marker *ngFor="let um of userMarkers;" [latitude]="um.lat" [longitude]="um.lng">
        
            </agm-marker>
        </agm-map>

    </div>
</div>
<style>
    .wrap{
        text-align: center;
        /* margin: 5px;  */
        color: aliceblue;
        padding-top: 8%; 
    }
    .font{
        font-family:Helvetica, sans-serif;
        font: outline;
        font-variant-caps: all-petite-caps;
        font-size: large;
    }
    .map{
        padding-right: unset;
        
    }
    .padding-0{
        padding-right:0;
        padding-left:0;
    }

    .row.no-gutter {
        margin-left: 0;
        margin-right: 0;
        height:100%; 
        width: 100%;
        overflow: hidden;
    }
    .row.no-gutter [class*='col-']:not(:first-child),
    .row.no-gutter [class*='col-']:not(:last-child) {
        /* padding-right: 0;
        padding-left: 0; */
    }
    .row > div {
        background: #40434a;
        /* border: 1px solid; */
    }
    
</style>
