<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                      <div class="row">
                          <div class="col-md-9"><h4 class="card-title ">Vehicles Table</h4>
                            <p class="card-category"> Vehicles tracking by the GPS Tracking System</p></div>
                          <div class="col-md-3">
                              <button mat-raised-button class="btn btn-success btn-block" (click)="openDialog()" [routerLink]="['/vehicle-list']">Add Vehicle</button></div>
                      </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>Vehicle Number</th>
                                    <th>Device IMEI</th>
                                    <th>User Name</th>
                                    <th>Vehicle Details</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor= "let vehicle of allVehicles">
                                        <td>{{vehicle.vehicleNo}}</td>
                                        <td>{{vehicle.imeiNo}}</td>
                                        <td>{{vehicle.userName}}</td>
                                        <td>{{vehicle.vehicleDetails}}</td>
                                        <td >
                                          <button mat-raised-button type="button" matTooltip="Edit Vehicle" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                          </button>
                                        </td>
                                        <td>
                                          <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                          </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  