<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Vehicles Table</h4>
                        <p class="card-category"> Vehicles tracking by the GPS Tracking System</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>Vehicle Number</th>
                                    <th>Device IMEI</th>
                                    <th>User Name</th>
                                    <th>Vehicle Details</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>PV 2512</td>
                                        <td>000F313233343536373839303132333435</td>
                                        <td>Nikini Automation</td>
                                        <td>some details</td>
                                        <td >
                                          <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                          </button>
                                        </td>
                                        <td>
                                          <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                          </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>PH 2512</td>
                                        <td>000F313233343536373839303132333435</td>
                                        <td>Nikini Automation</td>
                                        <td>some details</td>
                                        <td >
                                            <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                              <i class="material-icons">edit</i>
                                            </button>
                                          </td>
                                          <td>
                                            <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                              <i class="material-icons">close</i>
                                            </button>
                                          </td>
                                    </tr>
                                    <tr>
                                        <td>WO 2512</td>
                                        <td>000F313233343536373839303132333435</td>
                                        <td>Nikini Automation</td>
                                        <td>some details</td>
                                        <td >
                                            <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                              <i class="material-icons">edit</i>
                                            </button>
                                          </td>
                                          <td>
                                            <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                              <i class="material-icons">close</i>
                                            </button>
                                          </td>
                                    </tr>
                                    <tr>
                                        <td>XM 2512</td>
                                        <td>000F313233343536373839303132333435</td>
                                        <td>Nikini Automation</td>
                                        <td>some details</td>
                                        <td >
                                            <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                              <i class="material-icons">edit</i>
                                            </button>
                                          </td>
                                          <td>
                                            <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                              <i class="material-icons">close</i>
                                            </button>
                                          </td>
                                    </tr>
                                    <tr>
                                        <td>PJ 2512</td>
                                        <td>000F313233343536373839303132333435</td>
                                        <td>Nikini Automation</td>
                                        <td>some details</td>
                                        <td >
                                            <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                              <i class="material-icons">edit</i>
                                            </button>
                                          </td>
                                          <td>
                                            <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                              <i class="material-icons">close</i>
                                            </button>
                                          </td>
                                    </tr>
                                    <tr>
                                        <td>LO 2512</td>
                                        <td>000F313233343536373839303132333435</td>
                                        <td>Nikini Automation</td>
                                        <td>some details</td>
                                        <td >
                                            <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                              <i class="material-icons">edit</i>
                                            </button>
                                          </td>
                                          <td>
                                            <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                              <i class="material-icons">close</i>
                                            </button>
                                          </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  