<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-danger">
                    <div class="row">
                        <div class="col-md-9"><h4 class="card-title ">User Table</h4>
                          <p class="card-category"> Users of the GPS Tracking System</p></div>
                        <div class="col-md-3">
                            <button mat-raised-button class="btn btn-success btn-block" (click)="openDialog()">Add User</button></div>                           
                    </div>                    
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>Name</th>
                                  <th>User Name</th>
                                  <th>Contact Number</th>
                                  <th>Email Address</th>
                                  <th>Edit</th>
                                  <th>Delete</th>
                              </thead>
                              <tbody>
                                  <tr *ngFor= "let user of allUsers">
                                      <td>{{user.fullName}}</td>
                                      <td>{{user.userName}}</td>
                                      <td>{{user.contactNumber}}</td>
                                      <td>{{user.emailAddress}}</td>
                                      <td >
                                        <button mat-raised-button type="button" matTooltip="Edit User" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">edit</i>
                                        </button>
                                      </td>
                                      <td>
                                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="deleteConfirmDialog(user._id)">
                                          <i class="material-icons">close</i>
                                        </button>
                                      </td>
                                  </tr>
                                 
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
