<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div *ngIf="isAdmin" class="col-lg-3 col-md-6 col-sm-6" >
              <a [routerLink]="['/user-list']"><div class="card card-stats" [style.background-color]="'#2f2e33'" [style.color]="'#ebeef1'">
                  <div>
                          <div class="text-center">
                              <br>
                              <h1 class="mat-card-title" style="font-size: medium; font-family: 'Lucida Bright',serif">TOTAL NUMBER OF <br>
                                      <i class="material-icons md-48">supervisor_account</i>
                                  COMPANIES <br>
                                  {{userVal}}</h1>
                          </div>
                  </div>
                  <div class="card-footer">
                        <div class="stats" [style.color]="'#ebeef1'">
                            <i class="material-icons">
                                alarm
                            </i> update: 05.30am
                            </div>
                        </div>
              </div></a>
          </div>
          <div class="col-lg-{{cardNum}} col-md-6 col-sm-6">
            <a [routerLink]="['/vehicle-list']">
              <div class="card card-stats" [style.background-color]="'#2f2e33'" [style.color]="'#ebeef1'">
                  <div>
                      <div class="text-center">
                          <br>
                          <h1 class="mat-card-title" style="font-size: medium; font-family: 'Lucida Bright',serif">TOTAL NUMBER OF <br>
                              <i class="material-icons md-48">local_shipping</i>
                              ACTIVE VEHICLES <br>
                              {{vehicleVal}}</h1>
                      </div>
                  </div>
                  <div class="card-footer">
                      <div class="stats" [style.color]="'#ebeef1'">
                          <i class="material-icons">
                              alarm
                          </i> update: 05.15am
                      </div>
                  </div>
              </div>
            </a>
          </div>
          <div class="col-lg-{{cardNum}} col-md-6 col-sm-6">
            <a [routerLink]="['/vehicleMap']">
              <div class="card card-stats" [style.background-color]="'#2f2e33'" [style.color]="'#ebeef1'">
                  <div>
                      <div class="text-center">
                          <br>
                          <h1 class="mat-card-title" style="font-size: medium; font-family: 'Lucida Bright',serif">VEHICLES LOCATION<br>
                              <i class="material-icons md-48">location_on</i>
                               <br> IN REAL TIME </h1>
                      </div>
                  </div>
                  <div class="card-footer">
                      <div class="stats" [style.color]="'#ebeef1'">
                          <i class="material-icons">
                              alarm
                          </i> update: 05.00am
                      </div>
                  </div>
              </div>
            </a>

          </div>
          <div class="col-lg-{{cardNum}} col-md-6 col-sm-6">
            <a [routerLink]="['/notifications']">
              <div class="card card-stats" [style.background-color]="'#2f2e33'" [style.color]="'#ebeef1'">
                  <div>
                      <div class="text-center">
                          <br>
                          <h1 class="mat-card-title" style="font-size: medium; font-family: 'Lucida Bright',serif">VEHICLES <br>
                              <i class="material-icons md-48">notifications</i>
                              <br> NOTIFICATIONS</h1>
                      </div>
                      <h1 class="mat-card-title" align="center"></h1>
                  </div>
                  <div class="card-footer">
                      <div class="stats" [style.color]="'#ebeef1'">
                          <i class="material-icons">
                              alarm
                          </i> update: 07.30am
                      </div>
                  </div>
              </div>
            </a>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 col-md-12">
              <div class="card card-chart">
                  <br>
                  <div class="text-center">
                  <button mat-raised-button type="button" matTooltip="Request Battery / Temperature" [matTooltipPosition]="'above'" class="btn-link btn-sm btn-just-icon" (click)="requestReport()" style="width: 100px">
                      FILTER<i class="material-icons">
                          filter_list
                      </i>
                  </button>
                  </div>
                  <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <div class="card-body">
                          <div class="text-center"><h4 class="card-title">BATTERY STATUS</h4></div></div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                          </div>
                  </div>
                  <br>
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <br>
          </div>
              <div class="col-lg-6 col-md-12">
                      <div class="card-body">
                          <div class="text-center"><h4 class="card-title">TEMPERATURE</h4></div></div>
                      <div class="card-footer">
                          <div class="stats">
                              <i class="material-icons">access_time</i> updated 6 minutes ago
                          </div>
                      </div>
                      <br>
                      <div class="card-header card-header-success">
                          <div class="ct-chart" id="dailySalesChart2"></div>
                      </div>
                      <br>
              </div>
          </div>
              </div>
      </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-12" *ngIf="isAdmin">
              <div class="card">
                    <div class="card-header card-header-warning" style="height: 50px">
                            <h4 class="card-title">USER DETAILS</h4>
                        </div>
                        <div class="card-body table-responsive">
                          <table class="table">
                              <thead class=" text-default">
                                  <th>Name</th>
                                  <th>Client Name</th>
                                  <th>Contact Number</th>
                                  <th>Status</th>
                                  <th >Edit</th>
                                  <th>Delete</th>
                                  <th>Reset</th>
                                  <th>Logs</th>
                              </thead>
                              <tbody>
                                  <tr *ngFor= "let user of allUsers" >
                                      <td>{{user.fullName}}</td>
                                      <td>{{user.userName}}</td>
                                      <td >{{user.contactNumber}}</td>
                                      <!-- <td *ngIf="user.status==='Deleted'">{{user.status}}</td> -->
                                      <td [ngClass]="user.status == 'Deleted' ? 'deleteUser':'notDelete'">{{user.status}}</td>
                                      <td >
                                        <button mat-raised-button type="button" matTooltip="Edit User" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="editUser(user)">
                                          <i class="material-icons">edit</i>
                                        </button>
                                      </td>
                                      <td>
                                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="deleteConfirmDialog(user._id, user.fullName)">
                                          <i class="material-icons">close</i>
                                        </button>
                                      </td>
                                      <td>
                                          <button mat-raised-button type="button" matTooltip="Reset Password" [matTooltipPosition]="'above'" class="btn btn-warning btn-link btn-sm btn-just-icon" (click)="restClick(user._id, user.fullName, user.userName)">
                                              <i class="material-icons" >
                                                  settings_backup_restore
                                              </i>
                                          </button>
                                      </td>
                                      <td>
                                          <button mat-raised-button type="button" matTooltip="User Logs" [matTooltipPosition]="'above'" class="btn btn-default btn-link btn-sm btn-just-icon" (click)="logsClick(user._id, user.fullName, user.userName)">
                                              <i class="material-icons" >
                                                  library_books
                                              </i>
                                          </button>
                                      </td>
                                  </tr>

                              </tbody>
                          </table>
                        </div>
              </div>
          </div>

          <div class="col-lg-{{columnNum}} col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning" style="height: 50px">
                      <h4 class="card-title">VEHICLE DETAILS</h4>
                  </div>
                  <div class="card-body table-responsive">
                    <table class="table">
                        <thead class=" text-default">
                            <th>Vehicle Number</th>
                            <th>Device IMEI</th>
                            <th>Vehicle Details</th>
                            <th *ngIf="isAdmin">Client Name</th>
                            <th *ngIf="isAdmin">Edit</th>
                            <th *ngIf="isAdmin">Delete</th>
                        </thead>
                        <tbody>
                            <tr *ngFor= "let vehicle of allVehicles; let i = index">
                                <td>{{vehicle.vehicleNumber}}</td>
                                <td>{{vehicle.imeiNumber}}</td>
                                <td>{{vehicle.vehicleDetails}}</td>
                                <td *ngIf="isAdmin">{{vehicle.userName}}</td>
                                <td *ngIf="isAdmin">
                                    <button mat-raised-button type="button" matTooltip="Edit Vehicle" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="updateDialog(vehicle)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </td>
                                <td *ngIf="isAdmin">
                                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="deleteVehicleConfirmDialog(vehicle.vehicleNumber,i)">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngFor="let vehicle of vehiclesNgrx | async; let i = index">
                                <td>{{vehicle.vehicleNumber}}</td>
                                <td>{{vehicle.imei}}</td>
                                <td>{{vehicle.vehicleDetails}}</td>
                                <td *ngIf="isAdmin">-----</td>
                                <td *ngIf="isAdmin">
                                    <button mat-raised-button type="button" matTooltip="Edit Vehicle" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="updateDialog(vehicle)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </td>
                                <td *ngIf="isAdmin">
                                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="deleteVehicleConfirmDialog(vehicle.vehicleNumber,i)">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-12 col-md-12" >
              <div class="card">
                  <div class="card-header card-header-warning" style="height: 50px">
                      <h4 class="card-title">SUMMARY DETAILS
                          <a style="float: right;" (click)="requestSummary()"><i class="material-icons">
                              filter_list
                          </i> FILTER</a>
                      </h4>
                  </div>

                  <div class="card-body table-responsive">
                      <table class="table">
                          <thead class=" text-default">
                          <th>Vehicle Number</th>
                          <th>Distance</th>
                          <th>Trips</th>
                          </thead>
                          <tbody>
                          <tr *ngFor= "let vehicle of summaryVehicle; let i = index">
                              <td>{{vehicle.vehicleNumber}}</td>
                              <td>{{vehicle.distance}}</td>
                              <td>{{vehicle.trips}}</td>
                          </tr>
                          </tbody>
                      </table>
                  </div>


              </div>
          </div>
      </div>


  </div>
</div>
